@page "/AddBearing"
<h3>AddBearing</h3>

<div class="container mt-4">
    <div class="bg-gradient" style="background-color: #014889;">
        <h3 class="ms-2 p-2">Test Bench</h3>
    </div>
    <div class="container mt-4">
        <div class="mb-3 row">
            <label for="model" class="col-sm-2 col-form-label">Bearing model</label>
            <div class="col-sm-6 me-5">
                <input type="text" class="form-control" id="model" name="model">
            </div>
        </div>
        <div class="text-center">
            <button>Add new bearing</button>
        </div>
    </div>
</div>